appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
dash==2.16.1
dash-bootstrap-components==1.6.0
dash-bootstrap-templates==1.1.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
distlib==0.3.8
docopt==0.6.2
et-xmlfile==1.1.0
filelock==3.14.0
Flask==3.0.3
frozendict==2.4.2
gunicorn==22.0.0
html5lib==1.1
identify==2.5.36
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.3
lxml==5.2.1
MarkupSafe==2.1.5
multitasking==0.0.11
nest-asyncio==1.6.0
nodeenv==1.8.0
numpy==1.26.4
openpyxl==3.1.2
packaging==21.3
pandas==2.2.2
pandas-datareader==0.10.0
peewee==3.17.3
pipreqs==0.4.12
platformdirs==4.2.1
plotly==5.21.0
pluggy==1.5.0
pre-commit==2.16.0
py==1.11.0
pyparsing==3.1.2
pytest==6.2.5
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
ruamel.yaml==0.17.21
six==1.16.0
soupsieve==2.5
tenacity==8.2.3
termcolor==1.1.0
toml==0.10.2
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.1
visdcc==0.0.50
webencodings==0.5.1
Werkzeug==3.0.2
yarg==0.1.9
yfinance==0.2.38
yolk3k==0.9
zipp==3.18.1
